---
---

<h1 class="hello">
  <strong>Matt Rugamas</strong>
</h1>
<p id="lede">I was born and raised in Los Angeles.</p>
<p id="lede">I currently work at <a href="https://x.ai">SpaceXAI</a> as a Technical Support Engineer for products like <a href="https://cursor.com/home">Cursor</a>, <a href="https://x.ai/bot">Grok Bot</a>, and <a href="https://cursor.com/cloud">Cloud Agents</a>.</p>
<p id="lede">Previously, I was a Senior Support Engineer at <a href="https://www.atlassian.com/webinars/it/insight-into-halp">Halp</a>, acquired by <a href="https://www.atlassian.com">Atlassian</a>. Before that, I led Accessibility efforts at <a href="https://edlio.com">Edlio</a>.</p>
<p id="lede">You can find me on <a href="https://www.linkedin.com/in/mattrugamas/">LinkedIn</a>, or reach me via <a href="mailto:mail@mattrugamas.com">email</a>.</p>
<!-- {% include tag-filter.html %} -->
{% include post-list.html posts=site.posts %}