<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3">
<link rel="manifest" href="/site.webmanifest?v=3">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=3" color="#5DC8D1">
<link rel="shortcut icon" href="/favicon.ico?v=3">
<meta name="msapplication-TileColor" content="#17181C">
<meta name="theme-color" content="#17181C" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#F8F5EE" media="(prefers-color-scheme: light)">
