<header>
  <a id="skipToMainContent" href="#mainContent">Skip to Main Content</a>
  <nav>
    <ul>{% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" class="
          {%- if page.url == item.link -%}
            current
          {%- else -%}
            not-current
          {%- endif -%}
        ">{{ item.name }}</a>
      </li>
      {%- endfor -%}
      {%- if page.layout == 'post' -%}
      <li>
        <a href="/" class="current">Blog</a>
      </li>{% endif %}
    </ul>
  </nav>
</header>