<header>
  <a id="skipToMainContent" href="#mainContent">Skip to Main Content</a>
  <nav>
    <ul>
      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" class="
          {%- if page.url == item.link -%}
            current
          {%- else -%}
            not-current
          {%- endif -%}
        ">{{ item.name }}</a>
      </li>
      {%- endfor -%}
      {%- if page.layout == 'post' -%}
      <li>
        <a href="/" class="current">Blog</a>
      </li>
      {%- endif -%}
    </ul>
    <div class="nav-actions">
      <button id="theme-toggle" aria-label="Toggle light/dark mode">
        <span class="icon-to-light" aria-hidden="true">☀</span>
        <span class="icon-to-dark" aria-hidden="true">☽</span>
      </button>
      <button id="nav-toggle" aria-label="Open navigation" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
