@import "reset";
@import "_etcetera";

* { @include box-sizing(border-box); }
*:before, *:after { @include box-sizing(inherit); }
html { background-color: $base; color: $text; }

body {
  margin-left: 40px;
  @media all and (max-width: 500px) { margin-left: 0; }
  @media all and (max-width: 800px) { margin-left: 0; }
  @extend %link-setup;

  figure figcaption {
    font-family: $fonts-source;
    font-size: 10px;
    color: $dates;
  }
  
  pre.highlight {
    max-height: 50vh;
    padding: 0 0 0 10px;
    overflow: scroll;
    border-radius: 5px;
    code {
      font-family: $fonts-source;
      white-space: pre-wrap;
      font-size: 15px;
    }
  }
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;

  font-family: $fonts-titles;
  background-color: $base;
  box-shadow: 0 1px 0 $text;
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    @media all and (max-width: 500px) { justify-content: center; }
    @media all and (max-width: 800px) { justify-content: center; }
    margin: 0;
    li a {
      @extend %nav-animate;
    }
  }
}

main {
  @extend %content-base;
  ul#blog-list {
    margin: 3vh 0 0;
    max-width: 900px;
    li {
      @extend %li-animate;
      margin: 0 0 3vh 0;
      padding: 0 1vw 1vh;
      &:last-child {
        margin: 0;
        padding-bottom: 0;
      }
      h2 {
        display: inline-block;
        margin: 0;
        font-family: $fonts-titles;
        text-transform: capitalize;
      }
      p {
        margin: 0;
        font-family: $fonts-body;
        &.date {
          display: inline-block;
          padding: 5px;
          font-family: $fonts-source;
          color: $dates;
          border-left: 1px dotted $text;
        }
      }
    }
  }
  @media all and (max-width: 500px) {
    min-height: 0;
    padding-left: 10px;
    padding-right: 10px;
    h1 {
      text-align: center;
    }
    ul#blog-list {
      margin-top: 3vh;
      li {
        border: 0vw;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          border-left: none;
        }
        h2 {
          display: block;
          //padding-left: 10px;
        }
        p.date {
          display: block;
          border: 0ch;
          padding: 0px;
        }
      }
    }
  }
  @media all and (max-width: 800px) {
    min-height: 0;
    padding-left: 10px;
    padding-right: 10px;
    h1 {
      text-align: center;
    }
    ul#blog-list li {
      border: 0;
      padding-left: 0;
      padding-right: 0;
      &:hover {
        border-left: none;
      }
    }
  }
}

footer {
  padding: 5px 0 0 0;
  background-color: $base;
  font-family: $fonts-body;
  font-size: 9px;
  box-shadow: 0 -1px 0 $text;
  text-align: center;
  p {
    margin: 0;
  }
  b {
    padding: 6px 0 0 0;
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 -1px 0 $highlight;
    }
    a {
      &:hover {
        background-color: transparent;
        box-shadow: none;
        color: $links;
      }
    }
  }
}

////////////////
/* ABOUT PAGE */
////////////////

main {
  section.aboutMe {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: $fonts-body;
    p.about-me {
      max-width: 50vw;
      margin: 0;
    }
    figure {
      margin: 0 auto;
    }
  }
  img#selfie {
    margin: 0 auto;

    @extend %ui-shadow;
    border: 1px solid $links;
    border-radius: 3px;
  }
  section.findme {
    width: 400px;
    margin: auto auto;
    font-family: $fonts-body;
    ul {
      margin: 0;

      @extend %text-shadow;
      @extend %ui-shadow;
      border: 2px solid $links;
      border-radius: 3px;
      li {
        text-align: center;

        background-color: $base;
        &:hover {
          transition-duration: 0.3s;
          background-color: $selected;
        }
        a {
          display: block;
          padding: 10px;

          color: $text;
          &:hover {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
  }
}
@media all and (max-width: 500px) {
  main {
    section.aboutMe {
      padding: 3vh 0;
      flex-flow: row wrap-reverse;
      p.about-me {
        //text-align: justify;
        max-width: 97vw;
        margin: 3vh 0;
      }
    }
    figure {
      margin: 3vh auto;
    }
    section.findme {
      width: 97vw;
      ul {
        li {
          border-top: 1px solid $selected;
          &:last-child {
            border-bottom: 1px solid $selected;
          }
        }
      }
    }
  }
}
@media all and (max-width: 800px) {
  main {
    section.aboutMe {
      margin: 3vh 0;
      flex-flow: row wrap-reverse;
      p.about-me {
        //text-align: justify;
        max-width: 97vw;
        margin: 3vh 0;
      }
    }
    figure {
      margin: 3vh auto;
    }
    section.findme {
      width: 300px;
      ul {
        li {
          border-top: 1px solid $selected;
          &:last-child {
            border-bottom: 1px solid $selected;
          }
        }
      }
    }
  }
}

///////////////
/* POST PAGE */
///////////////

article {
  @extend %content-base;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  h1#post-title {
    font-family: $fonts-titles;
    text-transform: capitalize;
  }
  p#post-date {
    margin: 0 0 3vh 0;
    padding: 3px 0;
    color: $dates;
    font-family: $fonts-source;
  }
  p {
    margin: 5px 0;
    font-family: $fonts-body;
  }
  figure.shadow_image {
    margin: 3vh auto;
    width: fit-content;
    img.img-responsive {
      width: 100%;
      max-width: 650px;
      height: auto;
    }
    figcaption {
      margin-top: -7%;
      text-align: center;
    }
  }
}
@media all and (max-width: 500px) {
  article {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 !important;
    p#post-date {
      display: block;
      text-align: center;
    }
    img.img-responsive {
      max-width: 100%;
    }
  }
}
@media all and (max-width: 800px) {
  article {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    h1#post-title {
      text-align: center;
    }
    p#post-date {
      display: block;
      text-align: center;
    }
    img.img-responsive {
      max-width: 100%;
    }
  }
}

///////////////
/* RESU PAGE */
///////////////
#resumeContainer {
  max-width: 900px;
  margin: 0 auto;
  h2, h3 {
    font-family: $fonts-titles;
  }
  h2 {
    color: $highlight;
  }
  h3 {
    font-size: 16px;
  }
  strong {
    color: $dates;
  }
  p, li {
    font-family: $fonts-body;
  }
  ul {
    list-style-type: disc;
    padding-inline-start: 40px;
  }
  #resumeHead {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) { 
      flex-flow: row;
    }
    figure img {
      border-radius: 5px;
      box-shadow: 0 0 15px 3px $links;
    }
    #contactInfo {
      flex-grow: 1;
      h2 {
        text-align: center;
      }
      .infoFlex {
        display: flex;
        flex-flow: row wrap;
        p {
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}