---
layout: base
---
<main id="mainContent" tabindex="-1">
  <h1 class="hello">Posts tagged
    <strong>{{ page.tag }}</strong>
  </h1>
  {% include tag-filter.html %}
  {% assign tagged_posts = site.tags[page.tag] %}
  {% include post-list.html posts=tagged_posts %}
</main>